@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@font-face {
  font-family: 'Ragila', serif;
  font-style: normal;
  src: local('Ragila'), 
       url('./Assets/Fonts/Ragila.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/Fonts/Ragila.woff') format('woff'), /* Modern Browsers */
       url('./Assets/Fonts/Ragila.ttf') format('truetype'), /* Safari, Android, iOS */
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: rgb(0, 122, 126) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

