.cont {
    height: 75vh;
    /* margin-top: 80px; */
}

.greeting {
    text-align: center;
    background-color: transparent;
    color: white;
}

.logout-btn {
    width: 150px;
    border-radius: 3px;
    letter-spacing: 1.5px;
    background-color: rgb(64, 0, 120);
    border-color: rgb(64, 0, 120);
    color: white !important;
}


