.save-btn{
    margin-left: 44%;
    height: 60px;
    width: 200px;
    font-size: 20px !important;
    margin-bottom: 70px;
}

.save-alert{
    position: relative;
    left: 46%;
    bottom: 0%;
    color: rgb(255, 255, 255);
}