.save-div {
    position: relative;
}

.save-btn{
    margin-left: 44%;
    height: 60px;
    width: 200px;
    font-size: 20px !important;
}

.save-toast{
    position: absolute;
    top: -25%;
    right: 0;
    background-color: rgb(64, 0, 120) !important;
    color: rbg(225, 225, 225);
}