.footer {
    background-color: black;
    padding-top: 20px;
    margin: auto;
    /* position: fixed;
    bottom:0; */
}
#fl{
    float: right;
}
.fl{ float: left;}
#logo{
    float: left;
    position: relative;
    margin: -10px !important;
}
#lf{
    float: left;
    
}
#cc{
    color: rgb(94, 94, 94);
    float: left;
    font-size: smaller;
    margin-left: 10px
    position: fixed;
    bottom: 0;
}

h1{
    font-family: 'Ragila';
    color: white;
}

li {
    color: white;
}

a{
    color:rgb(205, 205, 205) !important;
}