.footer {
    background-color: black;
    padding-top: 20px;
    margin: auto;
    position: fixed;
    bottom: 0;
}

h1{
    font-family: 'Ragila';
    color: white;
}

li {
    color: white;
}

a{
    color:rgb(205, 205, 205) !important;
}