.card-cont {
    padding: 10px;
    margin:25px;
  }
  
.single-card {
    margin:25px;
  }

.card-title {
  color: rgb(64, 0, 120);
  /* font-family: 'Ragila'; */
  font-size: 20px !important;
  font-weight: bold;
}

.production {
  color: white !important;
}